<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      <!-- Blocks may include default content. -->
      {{ .Site.Title }}
    {{ end }}</title>
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </body>
</html>
<!--
baseURL = 'https://wir-waren-das.de/'
languageCode = 'de-DE'
title = 'Wir-Waren-Das (DRAFT)- Das schlechteste Gewissen deutscher Politik'
theme = "newsroom"
disqusShortname = "Was willst Du sagen?"
[deployment]
[[deployment.targets]]
# An arbitrary name for this target.
name = "draft"
# URL specifies the Go Cloud Development Kit URL to deploy to. Examples:
-->
